@model CreateRole
@{
    ViewData["Title"] = "Create New Role";
}
<div>
    <H4 style="padding-left:40%;">
        @ViewData["Title"]
    <span><a style="padding-left:50%;" asp-action="ListView">List of Roles</a></span>
</H4>
</div>
<div class="row" style="padding-left:40%;">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>
</div>
