@model WebApp_for_deployment.Models.PhotoUploadModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactID" class="control-label" hidden></label>
                <input id="autoGenratedUID" asp-for="ContactID" class="form-control" hidden />
                <span asp-validation-for="ContactID" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" id="file_upload" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
                <p id="demo"></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit-button" hidden />
            </div>
        </form>
        <button type="button" class="btn btn-primary" onclick="myFunc()">Create</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var x = (Date.now() / 1000000000).toFixed(8);
    var y = x.toString();
    var z = parseInt(y.split(".")[1]);
    document.getElementById("autoGenratedUID").value = Math.round(z);
    document.getElementById("demo").style.color = "red";
    function myFunc() {
        var x = document.getElementById("file_upload").files[0];
        console.log(x);
        let type = x.type.split("/")[1];
        let filesize = x.size / 1024;
        if (filesize <= 50) {
            if (type == "jpg" || type == "png" || type == "bmp" || type =="jpeg") {
                document.getElementById("submit-button").click();
            }
            else {
                document.getElementById("demo").innerHTML = "File type should be .png or . bmp or .jpg";
            }
        }
        else {
            document.getElementById("demo").innerHTML = "   file size should be less than 50KB";
        }
    }
</script>

